@import 
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Spline Sans;
    }
}

.swiper-button-prev {
    position: absolute;
    z-index: 100;
    background-image: url('./assets/icons8-back-to-50.png');
    width: 5vh;
    height: 5vh;
    opacity: 35%;
}

.swiper-button-next {
    position: absolute;
    z-index: 100;
    background-image: url('./assets/icons8-back-to-50-right.png');
    width: 5vh;
    height: 5vh;
    opacity: 35%;
}


  
.swiper-button-prev,
.swiper-button-next {
    background-repeat: none;
    background-size: contain;
    background-position: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    opacity: 100%;
}
